<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="float-right">
            {% if app.user %}
                <span class="text-info"> {% trans %}Logged as {% endtrans %} {{ app.user }}  |</span> {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('admin') }}" class="btn btn-info">System</a>{% endif %} <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">{% trans %}Logout{% endtrans %}</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-info">Login</a>
            {% endif %}
            </div>

        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
