{% extends 'base.html.twig' %}

{% block body %}
<h1>Blog</h1>

    {% for article in articles %}
        <div>
            <h2> <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title|raw }} </a></h2>

            <p>{{ article.lead|raw }}</p>
            <hr/>

        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
