{% extends 'base.html.twig' %}


{% block body %}

    <a href="{{ path('homepage') }}" class="btn btn-danger">{% trans %}Home{% endtrans %}</a>
    <br/>
    <br/>
<h2 class="text-warning">{{ article.title|raw}}</h2>

<div>

    <p>{{ article.lead|raw }}</p>

    <p>{{ article.content|raw }}</p>
    <span class="text-info"> {% trans %}Added:{% endtrans %} {{ article.createdAt|date('H:i d/m/Y') }} {% trans %}by:{% endtrans %} {{ article.createdBy }} </span>
    <br />
    <span>{% trans %}Tags:{% endtrans %}
        {% for tag in article.tags %}
            <a href="{{ path('tag_search', {'name':tag.name} ) }}">{{ tag.name}}</a>
        {% endfor %}
            </span>
    <hr />

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h3 class="text-primary">{% trans %}Comments{% endtrans %}</h3>
    {% if app.user %}
    {% for comment in article.comments %}
        <div>
            <p class="text-warning">{{ comment.user }} {% trans %}wrote{% endtrans %}:</p>
            <p>{{ comment.content|raw }}</p>

            <span class="text-info"> {% trans %}Added:{% endtrans %} {{ comment.createdAt|date('H:i d/m/Y') }}  </span>
            <hr />


        </div>

    {% endfor %}

    {{ form_start(form) }}
        {{ form_widget(form)}}

    <button class="btn btn-primary">{% trans %}Add comment{% endtrans %}</button>



    <hr/>

    {{ form_end(form) }}

    {% else %}
        {% trans %}Comments are available for registered users only!{% endtrans %}  </p>
        <p><a href="{{ path('fos_user_security_login') }}" class="btn btn-info">Login</a>
        <a href="{{ path('homepage') }}" class="btn btn-danger">Home</a></p>
    {% endif %}


</div>
{% endblock %}
