{% extends 'base.html.twig' %}

{% block title %}
    Tag: {{ tag.name }}
{% endblock %}

{% block body %}

    <h2>{% trans %}Articles tagged as:{% endtrans %} {{ tag.name }} </h2>

    {% for article in tag.articles %}
        <div>
            <h2> <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title | raw }} </a></h2>

            <p>{{ article.lead | raw  }}</p>
            <hr/>

        </div>
    {% endfor %}


{% endblock %}